:host {
  height: 300px;
  display: inline-block;
  border: 1px solid #000;
  width: 300px
}
.smiles {
  max-width: 22px;
  padding-top: 8px;
}
.button-icon {
  padding-top: 5px;
}
.title-popup {
  background-color: #5066fa;
  width: 298px;
}